<form [formGroup]="signInForm" style="width:100%; margin:auto;">
    <div style="background-color: #ecdddd;">
        <div class="container">
            <h2>ĐĂNG NHẬP</h2>
            <label for="username">Tên đăng nhập</label>
            <input type="text" placeholder="Enter Username" name="username" required formControlName="username" />

            <label for="password">Mật khẩu</label>
            <input type="password" placeholder="Enter Password" name="password" required formControlName="password" />
            <button class="btn-login" type="submit" (click)="onClick(signInForm.value)">Đăng nhập</button>
            <button class="btn-close" (click)="onClose()">✖</button>
        </div>
    </div>
</form>