<form [formGroup]="signInForm">
    <div class="imgcontainer">
      <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
    </div>
  
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required formControlName="username">
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required formControlName="password">
  
      <button type="submit" (click)="onClick(signInForm.value)">Login</button>
      <label>
        <input type="checkbox" name="remember" formControlName="rememberMe"> Remember me </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>