<div class="listing">
    <div class="listing__head">
        <h3 class="listing__title">Danh mục khoá học</h3>
    </div>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control searchdesign" placeholder="Tìm kiếm danh mục..."
                            [(ngModel)]="searchStr" name="searchStr" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary btnDesign" type="button" (click)="searchCategories()">
                                Tìm
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <app-skeleton *ngIf="loader"></app-skeleton>
    <div class="row" *ngIf="!loader">
        <div class="col-md-3 listing__items" *ngFor="let category of categories | slice: start:end">
            <div [routerLink]="['/courses/']" [queryParams]="{category: category.slug}">
                <div class="listing-item-style">
                    <div class="overlay">
                        <div class="hover">
                            <i class="material-icons">play_arrow</i> XEM NGAY
                        </div>
                    </div>
                    <img [src]="category?.imageUrl" [alt]="category?.name" />
                    <h6>{{ category?.name }}</h6>
                    <p class="year">
                        <span>{{ category?.createdAt | date: "yyyy" }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="categories.length <=0 ">
        <div>
            <h2>Không có khoá học nào!</h2>
        </div>
    </ng-container>
    <mat-paginator *ngIf="categories.length > 0" [length]="totalResults" [pageSize]="6" (page)="changePage($event)">
    </mat-paginator>
</div>