mat-paginator {
    background: #212121;
}

mat-paginator {
    color: #fff;
}

.searchdesign {
    height: 44px;
    background: #ededed;
    border: 1px solid #c3baba;
    color: #1a1717;
    font-size: 15px;
}

.btnDesign {
    height: 44px;
    border-radius: 0;
    width: 55px;
    background: #dc4666;
    border: #dc4666;
}
.listing-item-style {
    img {
        height: 235px;
    }
}
