<ng-container>
    <app-slider></app-slider>
</ng-container>

<div class="listing">
    <div class="listing__head">
        <h3 class="listing__title">Danh sách chủ đề</h3>
        <a [routerLink]="['/categories']" routerLinkActive="router-link-active" class="listing__explore">
            <strong>Xem tất cả</strong>
        </a>
    </div>

    <app-skeleton *ngIf="loader" ></app-skeleton>
    <p-carousel [value]="listCategories" [numVisible]="4" [autoplayInterval]="2000" [numScroll]="1" [circular]="false" *ngIf="!loader"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-category pTemplate="item">
            <div class="listing-item-style" [routerLink]="['/courses']" [queryParams]="{category: category.slug}">
                <div class="overlay">
                    <div class="hover"><i class="material-icons">play_arrow</i> XEM NGAY</div>
                </div>
                <img *ngIf="category?.imageUrl"
                    [src]="category.imageUrl" style="height: 210px;">
                <img *ngIf="!category?.imageUrl" src="assets/images/default-movie.png" style="height: 210px;">
                <h6>{{ category?.name }}</h6>
                <!-- <p class="rate"><i class="material-icons">star</i><span>{{category?.vote_average}}</span> /10</p> -->
                <p class="year"><span>{{category?.createdAt | date: 'yyyy'}}</span>
                </p>
            </div>
        </ng-template>
    </p-carousel>
</div>

<div class="listing">
    <div class="listing__head">
        <h3 class="listing__title">Khoá học đang HOT</h3>
        <a [routerLink]="['/courses']" routerLinkActive="router-link-active" class="listing__explore">
            <strong>Xem tất cả</strong>
        </a>
    </div>
    <app-skeleton *ngIf="loader"></app-skeleton>
    <p-carousel [value]="listHotCourses" [numVisible]="5" [autoplayInterval]="3000" [numScroll]="1" [circular]="false" *ngIf="!loader"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-course pTemplate="item">
            <div class="listing-item-style" [routerLink]="['/courses/', course.slug]">
                <div class="overlay">
                    <div class="hover"><i class="material-icons">play_arrow</i> XEM NGAY</div>
                </div>
                <img [src]="course.imageUrl" style="height: 370px;">
                <h6>{{ course?.name }}</h6>
                <p class="rate"><i class="material-icons">star</i><span>{{course?.rateAvg}}</span>/5</p>
                <p class="cost"><span>{{course?.cost | numberWithCommas}}đ</span>
            </div>
        </ng-template>
    </p-carousel>
</div>
