<ng-container>
    <app-slider></app-slider>
</ng-container>

<div class="listing">
    <div class="listing__head">
        <h3 class="listing__title">Danh sách chủ đề</h3>
        <a [routerLink]="['/movies']" routerLinkActive="router-link-active" class="listing__explore">
            <strong>Xem tất cả</strong>
        </a>
    </div>
    
    <app-skeleton *ngIf="loader" ></app-skeleton>
    <p-carousel [value]="listCategories" [numVisible]="4" [numScroll]="1" [circular]="false" *ngIf="!loader"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-category pTemplate="item">
            <div class="listing-item-style" [routerLink]="['/categories/', category.slug]">
                <div class="overlay">
                    <div class="hover"><i class="material-icons">play_arrow</i> XEM NGAY</div>
                </div>
                <img *ngIf="category?.imageUrl"
                    [src]="category.imageUrl">
                <img *ngIf="!category?.imageUrl" src="assets/images/default-movie.png">
                <h6>{{ category?.name }}</h6>
                <p class="rate"><i class="material-icons">star</i><span>{{category?.vote_average}}</span> /10</p>
                <p class="year"><span>{{category?.release_date | date: 'yyyy'}}</span>
                </p>
            </div>
        </ng-template>
    </p-carousel>
</div>

<div class="listing">
    <div class="listing__head">
        <h3 class="listing__title">Khoá học đang HOT</h3>
        <a [routerLink]="['/tv']" routerLinkActive="router-link-active" class="listing__explore">
            <strong>Xem tất cả</strong>
        </a>
    </div>
    <app-skeleton *ngIf="loader"></app-skeleton>
    <p-carousel [value]="listHotCourses" [numVisible]="4" [numScroll]="1" [circular]="false" *ngIf="!loader"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-course pTemplate="item">
            <div class="listing-item-style" [routerLink]="['/tv/', course._id]">
                <div class="overlay">
                    <div class="hover"><i class="material-icons">play_arrow</i> XEM NGAY</div>
                </div>
                <img [src]="course.imageUrl">
                <h6>{{ course?.name }}</h6>
                <p class="rate"><i class="material-icons">star</i><span>{{course?.vote_average}}</span>/10</p>
                <p class="year"><span>{{course?.first_air_date | date: 'yyyy'}}</span>
            </div>
        </ng-template>
    </p-carousel>
</div>