.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
}
.full {
    color: red;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
}
.text-empty {
    text-align: center;
    color: #d09a9a;
    margin-bottom: 50px;

}