<app-skeleton *ngIf="loader"></app-skeleton>
<div *ngIf="!loader" class="hero">
    <div class="backdrop" [style.background-image]="'url(' + course?.imageUrl + ')'">
        <!-- <div class="lazyloaded">
            <button class="play" type="button" (click)="openDialogMovie(this.video)">
                <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55">
                    <circle cx="27.5" cy="27.5" r="26.75" fill="none" stroke="#fff" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5" />
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M20.97 40.81L40.64 27.5 20.97 14.19v26.62z" />
                </svg>
            </button>
            <img class="lazyload image" [src]="course?.imageUrl">
        </div> -->

    </div>
    <div class="pane">
        <div>
            <div class="name">{{ course?.name }}</div>
            <div class="meta">

                <div class="info">
                    <span class="rate">
                        <i class="material-icons">star</i><span>{{ course?.rateAvg }}</span> /5
                    </span>
                    <span> {{rates.length}} đánh giá</span>
                    <span> {{course?.level}}</span>
                    <span>{{course?.createdAt | date: 'yyyy' }}</span>
                    <span>{{course?.time | time }}</span>
                </div>
            </div>
            <div class="desc">{{ course?.description }}</div>
            <button type="button" class="button button--icon trailer" (click)="openDialogMovie(this.video)">
                <span class="mr-2"><img src="assets/images/play.svg"></span>
                <span class="txt">Xem thử</span>
            </button>
        </div>
    </div>
</div>

<div *ngIf="!loader" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <mat-tab-group class="mt-5 mb-5" mat-align-tabs="center" animationDuration="0ms">
                <mat-tab label="Tổng quan">
                    <div class="listing-space info__movies">
                        <div class="left">
                            <div class="poster">
                                <img [src]="course?.imageUrl">
                            </div>
                        </div>
                        <div class="right">
                            <div class="overview">
                                <h2 class="title">GIỚI THIỆU</h2>
                                <div>{{course?.description}}</div>
                            </div>
                            <div class="stats">
                                <ul class="nolist">
                                    <li>
                                        <div class="label">
                                            Ngày tải lên
                                        </div>
                                        <div class="value">
                                            {{ course?.createdAt | fullDate }}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="label">
                                            Tổng hời gian
                                        </div>
                                        <div class="value">
                                            {{ course?.time | time }}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="label">
                                            Giá
                                        </div>
                                        <div class="value" style="font-size:20px; font-weight:600; color: #ffa6a6;">
                                            {{ course?.cost | numberWithCommas }}vnđ 
                                            <button *ngIf="btnCart==2 || !btnCart" class="btn-add-to-cart" (click)="onAddToCart()" style="background: none">➕</button>
                                            <button *ngIf="btnCart==1" class="btn-remove-from-cart" (click)="onRemoveFromCart()" style="background: none">❌</button>
                                            <button *ngIf="btnCart==3" style="background: none">✅</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="label">
                                            Số bài học
                                        </div>
                                        <div class="value">
                                            {{ course?.lessonNumber }}
                                        </div>
                                    </li>

                                    <li>
                                        <div class="label">
                                            Danh mục
                                        </div>
                                        <div class="value">
                                            {{ course?.category.name }}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="label">
                                            Ngôn ngữ
                                        </div>
                                        <div class="value">
                                            {{ course?.language || 'Chưa xác định' }}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="label">
                                            Đánh giá của bạn
                                        </div>
                                        <div class="value">
                                            <ng-template #t let-fill="fill">
                                                <span class="star" [class.full]="fill === 100">
                                                    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                                                </span>
                                            </ng-template>
                                            <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="false" [max]="5" (rateChange)="onRateChange(currentRate)"></ngb-rating>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="listing-space">
                        <div class="listing__head">
                            <h2 class="listing__title">Giảng viên</h2>
                        </div>
                        <p-carousel [value]="casts" [numVisible]="6" [numScroll]="4" [circular]="false"
                            [responsiveOptions]="responsiveOptions">
                            <ng-template let-cast pTemplate="item">
                                <div class="listing-item-style" [routerLink]="['/person/', cast.id]">
                                    <div class="overlay">
                                        <div class="hover">Details</div>
                                    </div>
                                    <img *ngIf="cast.profile_path"
                                        src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{cast?.profile_path}}">
                                    <img *ngIf="!cast?.profile_path" src="assets/images/default-movie.png">
                                    <h6>{{ cast?.name }}</h6>
                                </div>
                            </ng-template>
                        </p-carousel>
                    </div> -->

                </mat-tab>
                <mat-tab *ngIf="bought" label="Bài học">
                    <div class="listing-space videos__status">
                        <div class="items">
                            <div class="item" *ngFor="let list of lessons; let index = index">
                                <div (click)="openDialogMovie(list)" class="link">
                                    <div class="image lazyloaded">
                                        <img class="lazyload"
                                            src="https://img.youtube.com/vi/{{list?.imageUrl}}/mqdefault.jpg">
                                        <div class="play__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                                                viewBox="0 0 55 55">
                                                <circle cx="27.5" cy="27.5" r="26.75" fill="none" stroke="#fff"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                                <path fill="none" stroke="#fff" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="1.5"
                                                    d="M20.97 40.81L40.64 27.5 20.97 14.19v26.62z" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="name">
                                        {{index+1 + '. ' + list?.name}}
                                    </div>
                                    <div class="type">
                                        {{list?.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Hình ảnh">
                    <div class="listing-space backdrop_">
                        <div class="head">
                            <h2 class="title">Backdrops</h2>
                        </div>
                        <div class="items">
                            <div class="item backdrop_" *ngFor="let backdrop of backdrops | slice: 1:17">
                                <div class="image">
                                    <img class="lazyload"
                                        src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/{{ backdrop?.file_path }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Bình luận">
                    <app-comment *ngFor="let rate of rates" [rateData]="rate" (delete)="deleteRate($event)"></app-comment>
                </mat-tab>
            </mat-tab-group>


            <div class="listing-space mt-20 mb-5">
                <div class="listing__head">
                    <h2 class="listing__title">Một số khoá học gợi ý</h2>
                </div>
                <p-carousel [value]="recomendCourses" [numVisible]="6" [autoplayInterval]="4000" [numScroll]="4" [circular]="false"
                    [responsiveOptions]="responsiveOptions">
                    <ng-template let-course pTemplate="item">
                        <div class="listing-item-style" [routerLink]="['/courses/', course.slug]">
                            <div class="overlay">
                                <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>
                            </div>
                            <img [src]="course.imageUrl">
                            <h6>{{ course?.name }}</h6>
                            <p class="rate"><i class="material-icons">star</i><span>{{course?.rateAvg}}</span>
                                /10</p>
                            <div class="year"><span>{{course?.createdAt | date: 'yyyy'}}</span></div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
</div>