<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="heading">
                <h1>THÔNG TIN TÀI KHOẢN</h1>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-xl-5 card">
            <div class="green-background"></div>
            <div class="card-user">
                <img src="https://image.flaticon.com/icons/png/512/194/194938.png" alt="">
                <h3>Nguyễn Văn Quân</h3>
                <p class="role"> 🤝Admin🤝</p>
                <div>
                    <span>📧 quan.ng99@gmail.com</span> | <span>📞 0123456789</span>
                </div>
                <p class="wallet">💳 10,000,000vnđ</p>
            </div>
        </div>
        <div class="col-xl-7"></div>
    </div>
</div>