* {
    font-size: 18px;
}

.heading {
    text-align: center;
    h1 {
        font-size: 36px;
        font-weight: bold;
    }
}

.card {
    background-color: #5e5656;
    .green-background {
        background-color: red;
        height: 40px;
    }
    .card-user {
        text-align: center;
        img {
            width: 80px;
        }
        p.role {
            font-size: 20px;
            font-weight: bold;
            color: #adcf4f;
            margin: 5px;
        }
        p.wallet {
            font-size: 25px;
            font-weight: 600;
            font-family: cursive;
            color: #ff4081;
            margin: 19px;
        }
        h3 {
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}
